/* General */
body {
    background-color: #FCF9F2;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Nunito';
    font-weight: 600;
}

p {

    font-family: 'Nunito';
}

.hidden {
    display: none;
}

/* Header  */
header {
    background-color: #DDFBB3;
}

/* Input  */
#articuloInput,
#cantidadInput {
    border: 1px solid black;
}

/* Lista  */
.lista {
    background-color: #FBF7B3;
    border: 1px solid black;
}

.list-group-item {
    border: 1px solid black;
}

/* Footer  */
footer {
    background-color: #DDFBB3;
    margin-top: auto;

}

/* Extras  */
.fa-pen-to-square {
    color: white;
}